div {
	height: 200px;
	width: 200px;
}	

.rojo {
	background-color: #ee3e64;
	position: static;
	
}

.azul {
	background-color: #44accf;
	position: relative;
	left: 200px;
}

.verde{
	background-color: #b7d84b;
	position: static;
}

.amarillo {
	background-color: yellow;
	position: static;
}
body {
	margin: 0px;
	padding: 0px;
}
/*Para rigth y left, se posicionan respectivamente al elemento no al usuario */